.tableRow {
    box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 20%);
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.name {
    width: 100px;
    margin-left: 5px;
}

.type {
    width: 80px;
    margin-left: 5px;
}

.color {
    width: 80px;
    margin-left: 5px;
}

.button {
    border: 0;
    padding: 5px;
    color: black;
    background: transparent;
    cursor: pointer;
}

.button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 450px) {
    .tableRow p {
        font-size: 10px;
    }
}
